Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
psycopg2-binary==2.9.9
dj-database-url==2.2.0
whitenoise==6.7.0
gunicorn>=22.0.0
python-dotenv==1.0.1
django-heroku==0.3.1
drf-yasg==1.21.5
requests==2.32.3
certifi==2024.8.30
Pillow==9.0.1
protobuf==3.12.4
assemblyai==0.34.0
fpdf==1.7.2
selenium==4.26.1
pydub==0.25.1
typing_extensions==4.12.2
openai==0.28
pyannote.audio==3.3.2
asgiref==3.8.1
sqlparse==0.5.1
