Authlib==1.0.1
python-dotenv==1.0.1
djangorestframework==3.15.2
Pillow==9.0.1
protobuf==3.12.4
psycopg2-binary==2.9.9
whitenoise==6.7.0
gunicorn==23.0.0
dj-database-url==2.2.0
black==24.8.0
asgiref==3.8.1
certifi==2024.8.30
requests==2.32.3
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
drf-yasg==1.21.5
django-heroku==0.3.1
requests==2.32.3
assemblyai==0.34.0
Django==5.1.2
sqlparse==0.5.1
typing_extensions==4.12.2
openai==0.28
pyannote.audio==3.3.2